body {
    height: 99vh;
    font-family: 'outfit';
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
.maincard{
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 278px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 15px hsl(220, 15% , 80%);
}
img{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}
.card_text{
    padding-left: 8px;
    padding-right: 8px;
}
.maincard h1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;


}
.maincard p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    /* color: hsl(212, 45%, 89%); */
    color: hsl(220, 15%, 55%);
}
